.gradle/
build/
app/build/
desktop/out/
desktop/package/
desktop/installer/
desktop/*.zip
local.properties
*.apk
!desktop/dist/*.jar
!desktop/dist/*.bat
*.ap_
*.dex
*.class
*.log
captures/
.externalNativeBuild/
.cxx/
.idea/
*.iml
